<!DOCTYPE html>
<html>
<head>
  <title>Plate</title>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<meta name="description" content="A template app as a base-line for my future projects" />
	<meta name="keywords" content="template, rails, compass, css, susy, fluid, fixed width, elastic, html5, css3, grid system, grid framework" />

  <%= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, project' %>
  <%= stylesheet_link_tag 'compiled/print.css', :media => 'print' %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection' %>
  <![endif]-->

  <%= javascript_include_tag :defaults %>

  <!--[if IE]>
    <%= javascript_include_tag 'ie' %>
  <![endif]-->
  <!--[if lt IE 7]>
    <%= javascript_include_tag 'ie6' %>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
  <![endif]-->

  <%= csrf_meta_tag %>
</head>
<body>

<!-- Debug stuffs! -->

<div class="grid-control">
  <%= link_to "Show Grid", "#", :id => "show-grid" %>
  <%= link_to "Hide Grid", "#", :id => "hide-grid", :class => "hidden" %>
</div>

<script type="text/javascript">
  $("#.grid-control a").click(function() {
    $(".grid-control a").toggleClass("hidden");
    $("#header-content, #main-content, #footer-content").toggleClass("show-grid");
    return false;
  });
</script>

<!-- END -->

<div id="header-page">
  <div id="header-content">
    <div id="logo">
      <h1>Plate</h1>
      <h2>It's what's for dinner</h2>
    </div>
    <div id="top-nav" class="nav">
      <ul>
        <li><%= link_to "Link 1", "#" %></li>
        <li>
          <%= link_to "Dropdown", "#" %>
          <ul>
            <li><%= link_to "Item 1", "#" %></li>
            <li><%= link_to "Item 2", "#" %></li>
            <li><%= link_to "Item 3", "#" %></li>
          </ul>
        </li>
        <li class="clickdown">
          <%= link_to "Clickdown", "#" %>
          <ul>
            <li><%= link_to "Google", "http://google.com" %></li>
            <li><%= link_to "Apple", "http://apple.com" %></li>
            <li><%= link_to "Item 3 that's really really really really really long", "#" %></li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="bar-nav" class="nav">
      <ul>
        <li><%= link_to "Link 1", "#" %></li>
        <li>
          <%= link_to "Drop 2", "#" %>
          <ul>
            <li><%= link_to "Item 1", "#" %></li>
            <li><%= link_to "Item 2", "#" %></li>
            <li><%= link_to "Item 3", "#" %></li>
          </ul>
        </li>
        <li><%= link_to "Link 3", "#" %></li>
        <li class="clickdown">
          <%= link_to "Click 4", "#" %>
          <ul>
            <li><%= link_to "Item 1", "#" %></li>
            <li><%= link_to "Item 2", "#" %></li>
            <li><%= link_to "Item 3", "#" %></li>
          </ul>
        </li>
        <li><%= link_to "Link 5", "#" %></li>
        <li><%= link_to "Link 6", "#" %></li>
      </ul>
    </div>
  </div>
</div>

<div id="main-page">
  <div id="main-content" class="<%= params[:full] ? "full-page" : "two-column" %>">
    <div id="main">
      <%= yield %>
    </div>
    <div id="sidebar">
      <div id="sidebar-content">
        Sidebar!
      </div>
    </div>
  </div>
</div>

<div id="footer-page">
  <div id="footer-content">
    <div class="links">
      <ul>
        <li><%= link_to "The more links", "#" %></li>
        <li><%= link_to "in the footer", "#" %></li>
        <li><%= link_to "the more likely", "#" %></li>
        <li><%= link_to "we'll get funded", "#" %></li>
        <li><%= link_to "amirite? Of course!", "#" %></li>
      </ul>
      <ul>
        <li><%= link_to "But you need", "#" %></li>
        <li><%= link_to "a lot of links", "#" %></li>
        <li><%= link_to "because otherwise", "#" %></li>
        <li><%= link_to "how will you be", "#" %></li>
        <li><%= link_to "considered a big deal?", "#" %></li>
      </ul>
      <ul class="last">
        <li><%= link_to "So link away!", "#" %></li>
        <li><%= link_to "They can be anything", "#" %></li>
        <li><%= link_to "It's not like anyone", "#" %></li>
        <li><%= link_to "Looks at the actual content", "#" %></li>
        <li><%= link_to "Do they?", "#" %></li>
      </ul>
    </div>
    <span class="copyright">Copyright © Jeff Siegel</span>
  </div>
</div>

</body>
</html>
