<% content_for :body do -%>

<section id="header-page">
  <header class="container">
    <div class="logo">
      <h1>
        <%= link_to "Plate", root_path %>
      </h1>
      <h2>
        It's what's for dinner
      </h2>
    </div>
    <nav id="top-nav">
      <ul class="inline-nav-menu">
        <li><%= link_to "Home", root_path %></li>
        <li>
          <%= link_to "Dropdown", "#" %>
          <ul>
            <li><%= link_to "Item 1", "#" %></li>
            <li><%= link_to "Item 2", "#" %></li>
            <li><%= link_to "Item 3", "#" %></li>
          </ul>
        </li>
        <li class="clickdown">
          <%= link_to "Clickdown", "#" %>
          <ul>
            <li><%= link_to "Google", "http://google.com" %></li>
            <li><%= link_to "Apple", "http://apple.com" %></li>
            <li><%= link_to "Item 3 that's really really really really really long", "#" %></li>
          </ul>
        </li>
      </ul>
    </nav>
    <nav id="bar-nav">
      <ul class="nav-menu">
        <li><%= link_to "Sign In", front_signin_path %></li>
        <li>
          <%= link_to "Drop 2", "#" %>
          <ul>
            <li><%= link_to "Item 1", "#" %></li>
            <li><%= link_to "Item 2", "#" %></li>
            <li><%= link_to "Item 3", "#" %></li>
          </ul>
        </li>
        <li><%= link_to "Link 3", "#" %></li>
        <li class="clickdown">
          <%= link_to "Click 4", "#" %>
          <ul>
            <li><%= link_to "Item 1", "#" %></li>
            <li><%= link_to "Item 2", "#" %></li>
            <li><%= link_to "Item 3", "#" %></li>
          </ul>
        </li>
        <li><%= link_to "Link 5", "#" %></li>
        <li><%= link_to "Link 6", "#" %></li>
      </ul>
    </nav>
  </header>
</section>

<section id="main-page">
  <div id="main-content" class="container <%= content_for?(:sidebar) ? "two-column" : "full-page" %>">
    <section id="main" class="primary">
      <%= yield %>
    </section>
    <% if content_for?(:sidebar) -%>
      <div id="sidebar" class="sidebar">
        <section id="sidebar-content">
          <%= yield :sidebar %>
        </section>
      </div>
    <% end -%>
  </div>
</section>

<section id="footer-page">
  <footer class="container">
    <section class="links">
      <ul>
        <li><%= link_to "The more links", "#" %></li>
        <li><%= link_to "in the footer", "#" %></li>
        <li><%= link_to "the more likely", "#" %></li>
        <li><%= link_to "we'll get funded", "#" %></li>
        <li><%= link_to "amirite? Of course!", "#" %></li>
      </ul>
      <ul>
        <li><%= link_to "But you need", "#" %></li>
        <li><%= link_to "a lot of links", "#" %></li>
        <li><%= link_to "because otherwise", "#" %></li>
        <li><%= link_to "how will you be", "#" %></li>
        <li><%= link_to "considered a big deal?", "#" %></li>
      </ul>
      <ul class="last">
        <li><%= link_to "So link away!", "#" %></li>
        <li><%= link_to "They can be anything", "#" %></li>
        <li><%= link_to "It's not like anyone", "#" %></li>
        <li><%= link_to "Looks at the actual content", "#" %></li>
        <li><%= link_to "Do they?", "#" %></li>
      </ul>
    </section>
    <span class="copyright">Copyright © Jeff Siegel</span>
  </footer>
</section>

<% end -%>
<%= render :file => 'layouts/skeleton' %>
